<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Froala Template</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <script src="http://localhost:35729/livereload.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link type="text/css" rel="stylesheet" href="../../../dist/css/froala_blocks.css">
</head>
<body>
<header class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-md no-gutters">
            <div class="col-2 text-left">
                <a href="https://www.froala.com">
                    <img src="../../../dist/imgs/img_logo.png" height="30" alt="image">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav12" aria-controls="navbarNav12" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center col-md-8" id="navbarNav12">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.froala.com">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Team</a>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav col-2 justify-content-end d-none d-md-flex">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.froala.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.froala.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.froala.com"><i class="fa fa-github"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.froala.com"><i class="fa fa-google"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="fdb-block" style="background-image: url(../../../dist/imgs/bg_c_1.svg);">
    <div class="container">
        <div class="row text-left">
            <div class="col-12 col-sm-10 m-auto m-md-0 col-md-8 col-lg-6">
                <div class="fdb-box">
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-8 text-center">
                            <h1>Froala Design Blocks</h1>
                            <p class="text-h3">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>

                            <p class="text-h3 mt-4"><a href="https://www.froala.com">Learn More &gt;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="fdb-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>Features</h1>
            </div>
        </div>

        <div class="row text-center mt-5">
            <div class="col-12 col-sm-4">
                <img alt="image" class="fdb-icon" src="../../../dist/imgs/img_round.svg">
                <h3><strong>Feature One</strong></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>

            <div class="col-12 col-sm-4 pt-4 pt-sm-0">
                <img alt="image" class="fdb-icon" src="../../../dist/imgs/img_round.svg">
                <h3><strong>Feature Two</strong></h3>
                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. </p>
            </div>

            <div class="col-12 col-sm-4 pt-4 pt-sm-0">
                <img alt="image" class="fdb-icon" src="../../../dist/imgs/img_round.svg">
                <h3><strong>Feature Three</strong></h3>
                <p>A small river named Duden flows by their place and supplies it  with the necessary regelialia. It is a paradisematic country,</p>
            </div>
        </div>

    </div>
</section>

<section class="fdb-block bg-dark" style="background-image: url(/dist/imgs/bg_1.svg);">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Pricing Plans</h1>
            </div>
        </div>

        <div class="row mt-5 align-items-center no-gutters">
            <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center">
                <div class="bg-gray pb-5 pt-5 pl-4 pr-4">
                    <h2 class="font-weight-light">Basic</h2>

                    <p class="text-h1 mt-5 mb-5"><strong>$19</strong> <span class="text-h4">/month</span></p>

                    <ul class="text-left">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>

                    <p class="text-center pt-4"><a href="https://www.froala.com" class="btn btn-round btn-white btn-shadow">Choose Plan</a></p>
                </div>
            </div>

            <div class="col-12 col-sm-10 col-md-8 ml-auto mr-auto col-lg-4 text-center mt-4 mt-lg-0 sl-1 pt-0 pt-lg-3 pb-0 pb-lg-3 bg-gray fdb-touch">
                <div class="pb-5 pt-5 pl-4 pr-4">
                    <h2 class="font-weight-light">Standard</h2>

                    <p class="text-h1 mt-5 mb-5"><strong>$49</strong> <span class="text-h4">/month</span></p>

                    <ul class="text-left">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>

                    <p class="text-center pt-4"><a href="https://www.froala.com" class="btn btn-round btn-shadow">Choose Plan</a></p>
                </div>
            </div>

            <div class="col-12 col-sm-10 col-md-8 ml-auto mr-auto col-lg-4 text-center mt-4 mt-lg-0">
                <div class="bg-gray pb-5 pt-5 pl-4 pr-4">
                    <h2 class="font-weight-light">OEM</h2>

                    <p class="text-h1 mt-5 mb-5"><strong>$99</strong> <span class="text-h4">/month</span></p>

                    <ul class="text-left">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>

                    <p class="text-center pt-4"><a href="https://www.froala.com" class="btn btn-round btn-white btn-shadow">Choose Plan</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block team-8">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-8">
                <h1>Our Amazing Team</h1>
                <p class="text-h3">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>

        <div class="row-100"></div>

        <div class="row justify-content-center text-left">
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="../../../dist/imgs/img_round.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Employee Name</strong></h3>
                        <p class="text-h3">Position</p>

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="../../../dist/imgs/img_round.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Employee Name</strong></h3>
                        <p class="text-h3">Position</p>

                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-70"></div>

        <div class="row justify-content-center text-left">
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="../../../dist/imgs/img_round.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Employee Name</strong></h3>
                        <p class="text-h3">Position</p>

                        <p>One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="../../../dist/imgs/img_round.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Employee Name</strong></h3>
                        <p class="text-h3">Position</p>

                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block bg-dark" style="background-image: url(../../../dist/imgs/bg_4.svg)">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Testimonials</h1>
                <p class="text-h3">A small river named Duden flows by their place and supplies it with the necessary regelialia. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
            </div>
        </div>

        <div class="row mt-5 align-items-center justify-content-center">
            <div class="col-md-8 col-lg-4">
                <div class="fdb-box">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img alt="image" class="img-fluid" src="../../../dist/imgs/img_round.svg"/>
                        </div>
                        <div class="col-8 ml-auto">
                            <p>
                                <strong>Person Name</strong><br>
                                <em>Co-founder at Company</em>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <p class="text-h3">
                                "Even the all-powerful Pointing has no control about the blind texts it is an unorthographic life. One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar."
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
                <div class="fdb-box">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img alt="image" class="img-fluid" src="../../../dist/imgs/img_round.svg"/>
                        </div>
                        <div class="col-8 ml-auto">
                            <p>
                                <strong>Person Name</strong><br>
                                <em>Co-founder at Company</em>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <p class="text-h3">
                                "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
                <div class="fdb-box">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img alt="image" class="img-fluid" src="../../../dist/imgs/img_round.svg"/>
                        </div>
                        <div class="col-8 ml-auto">
                            <p>
                                <strong>Person Name</strong><br>
                                <em>Co-founder at Company</em>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <p class="text-h3">
                                "Separated they live in Bookmarksgrove right at the coast of the Semantics, far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-7">
                <h1>Contact Us</h1>
                <p class="text-h3">One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12 col-md-6">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 pt-5 pt-md-0">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="email" class="form-control" placeholder="Enter email">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="email" class="form-control"  placeholder="Subject">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<footer class="fdb-block footer-small bg-dark">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-12 col-sm-6 col-md-4 text-sm-left">
                <img alt="image" src="../../../dist/imgs/img_logo.png" height="40">
            </div>

            <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0 text-center text-sm-right text-md-center">
                &copy; 2013-2017 Froala
            </div>

            <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
                <a href="https://www.froala.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="https://www.froala.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="https://www.froala.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="https://www.froala.com"><i class="fa fa-pinterest" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="https://www.froala.com"><i class="fa fa-google" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>