.fdb-block {
  @include font-smoothing(on);
  text-rendering: optimizelegibility;
  padding: $block-padding 0;
  position: relative;
  border-bottom: $border-width solid gray("200");
}

.sl-1 {
  @include froala-box-shadow(1);
  z-index: 2;
}
