.fdb-block {
  @include font-smoothing(on);
  text-rendering: optimizelegibility;
  padding: $block-padding 0;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-bottom: $border-width solid gray("200");

  &.fdb-viewport {
    min-height: calc(100% - 2 * #{$block-padding});

    .container {
      min-height: calc(100% - 2 * #{$block-padding});
    }
  }

  img {
    @include border-radius(4px);

    + p, + h3, + h4 {
      margin-top: 20px;
    }

    + h1, + h2 {
      margin-top: 40px;
    }
  }

  img.fdb-icon {
    width: auto;
    width: 60px;
  }
}

.sl-1 {
  @include froala-box-shadow(1);
  z-index: 2;
}
