.fullwidth-split {
  padding: 0;
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.fullwidth-split-text {
  display: flex;
  justify-content: center;
  padding: $spacer * 4 0;
}

@include media-breakpoint-down(xs) {
  .fullwidth-split-text {
    padding: $spacer * 2 0;
  }
  .fullwidth-split-image {
    .bg-image {
      position: relative;
    }
  }
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  + .card-body {
    position: relative;
    z-index: 1;
  }
}

img.bg-image{
  object-fit: cover;
}
