#navigator {
  position: sticky;
  top: 0;
  z-index: 1000;

  @media (max-width: 720px) {
    & {
      border-bottom: $border-width solid #ccc;
    }
  }

  a {
    font-size: .875rem;
  }

  & + section {
    padding: 15.5rem 0;
  }
}
