#navigator {
  position: sticky;
  top: 0;
  z-index: 1000;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  @media (max-width: 720px) {
    & {
      border-bottom: 1px solid #ccc;
    }
  }

  a {
    font-size: 14px;
  }

  & + section {
    padding: 250px 0;
  }
}
