// Colors.
$theme-colors: ( "primary": #528bff );
$font-color: #444444;

// Sizes.
$font-size: 16px;
$line-height: 1.5;
$heading-margin: 0.7em;

// Block
$block-padding: 100px;

// Buttons.
$btn-padding-x: 26px;
$btn-padding-y: 9px;

$btn-border-radius: 2px;

// Headings
$headings-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$h1-font-size: $font-size-base * 2.75;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.125;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * .9;
$h6-font-size: $font-size-base * .75;

$headings-font-weight: 400;

// spacer
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4),
  7: ($spacer * 5),
  8: ($spacer * 6),
  9: ($spacer * 8),
  10: ($spacer * 10)
), $spacers);
