// Colors.
$theme-colors: ( "primary": #528bff );
$font-color: #444444;

// Sizes.
$font-size: 16px;
$line-height: 1.5;
$heading-margin: 0.7em;

// Block
$block-padding: 100px;

// Buttons.
$btn-padding-x: 26px;
$btn-padding-y: 9px;

$btn-border-radius: 2px;

// Headings
$headings: (
  h1: 2.75rem,
  h2: 2rem,
  h3: 1.125rem,
  h4: 1rem,
  h5: 0.9rem,
  h6: 0.75rem
);

$headings-margin-bottom: (
  h1: 1em,
  h2: 1em,
  h3: 1em,
  h4: 10px,
  h5: 10px,
  h6: 10px
)
