@import './variables';
@import './mixins';

.btn {
  padding-left: $btn-padding;
  padding-right: $btn-padding;
  display: inline-block;
  @include box-sizing(border-box);
  text-decoration: none;
  @include border-radius(2px);

  &.btn-shadow {
    @include froala-box-shadow($btn-shadow);
  }

  &.btn-round {
    @include border-radius(20px);
    min-width: 150px;
  }

  &[class*="btn-outline"] {
    border-width: 2px;
  }
}
