// Include Bootstrap vars.
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// Colors.
$primary-color: #528bff;
$accent-color: #FFEA00;
$white: #FFFFFF;
$black: #000000;
$font-color: #444444;

// Sizes.
$heading-margin: 0.7em;

// Block
$block-padding: 100px;

$btn-shadow: 1;

// $headings: (
//   h1: 2.75rem,
//   h2: 2rem,
//   h3: 1.125rem,
//   h4: 1rem,
//   h5: 0.9rem,
//   h6: 0.75rem
// );
//
// $headings-margin-bottom: (
//   h1: 1em,
//   h2: 1em,
//   h3: 1em,
//   h4: 10px,
//   h5: 10px,
//   h6: 10px
// );

$h1-font-size: 2.75rem;
$h2-font-size: 2rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1rem;
$h5-font-size: 0.9rem;
$h6-font-size: 0.75rem;
$headings-margin-bottom: 0.5rem;
$headings-margin-top: 0.3rem;

// Override Bootstrap.
$font-size-base: 16px;
$headings-line-height: 1.5;
$headings-font-weight: 400;

// Update Bootstrap theme colors.
$theme-colors: (
  primary: $primary-color,
  secondary: $accent-color
);

// Update buttons padding.
$btn-padding-x: 26px;
$btn-padding-x-sm: 26px;
$btn-padding-x-lg: 26px;

// Button border radius.
$btn-border-radius: 2px;
$btn-border-width: 2px;